<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editar</title>
</head>
<body>
    <h1>aqui es para editar</h1>
    <form action="" enctype="multipart/form-data" method="post" >
        {% csrf_token %}
        <div class="facultad">
            <label for="facultad">facultad</label>
            <input type="text" name="username" id="username" required>
        </div>
        <br>
        <div class="femenino">
            <label for="femenino">femenino</label>
            <input type="text" name="password" id="password" required>
        </div>
        <br>
        <div class="masculino">
            <label for="masculino">masculino</label>
            <input type="text" name="password" id="password" required>
        </div>
        <br>
        <button type="submit"></button>
    <br>
        <div class="tabla">
        <table border="1" cellspacing="0" cellpadding="5">
            <th>Facultad</th>
            <th>Femenino</th>
            <th>masculino</th>
            <th>total</th>
            {% for f in Facultad %}
            <tr>
                <td>{{f.facultad}}</td>
                <td>{{f.femenino}}</td>
                <td>{{f.masculino}}</td>
                <td>{{f.femenino|add:f.masculino}}</td>
            </tr>
            {% endfor %} 
        </table>
        <input type="hidden" name="elemento" value="sdsd"> 
    </div>
</body>
</html>